{% extends "index.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <br>
    <h1>Reset Password</h1><br>

    {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            Error: {{ error_msg }}
        </div>
    {% endif %}

    {% if email %}
        <div class="alert alert-info" role="alert">
            Please input the verification code that is sent to email: {{ email }}
        </div>
    {% endif %}

    <form action="{{ url_for('changePassword') }}" method="POST">
        <div class="form-group">
            <label for="prev_password">Previous password:</label>
            <input id="prev_password"
                   name="prev_password"
                   type="password"
            />
        </div>
        <div class="mt-3">
            <label for="new_password">New password:</label>
            <input
                    id="new_password"
                    name="new_password"
                    type="password"
            />
        </div>
        <br/>
        <br>
        <button type="submit" class="btn btn-primary">Reset</button>
    </form>

{% endblock %}