{% extends "index.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <br>
    <h1>Reset Password</h1><br>

    {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            Error: {{ error_msg }}
        </div>
    {% endif %}

    {% if email %}
        <div class="alert alert-info" role="alert">
            Please input the verification code that is sent to email: {{ email }}
        </div>
    {% endif %}

    <div class="card col-md-6">
        <div class="card-body">
            <form action="{{ url_for('changePassword') }}" method="POST">
                <div class="row">
                    <div class="col-4">
                        <label for="prev_password">Previous password:</label>
                    </div>
                    <div class="col-8">
                        <input id="prev_password"
                               name="prev_password"
                               type="password"
                        />
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">
                            <label for="new_password">New password:</label>
                        </div>
                        <div class="col-8">
                            <input
                                    id="new_password"
                                    name="new_password"
                                    type="password"
                            />
                        </div>
                    </div>

                    <div class="mt-5 d-flex justify-content-start">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
            </form>
        </div>
    </div>

{% endblock %}