{% extends "index.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <br>
    <h1>Welcome to Forumsbook</h1><br>

    {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            Error: {{ error_msg }}
        </div>
    {% endif %}

    <div class="container">
        <form action="{{ url_for('createPost') }}" method="POST" enctype="multipart/form-data">
            <div class="row my-3">
                <div class="col-md-4">
                    <label for="message">Message:</label>
                </div>
                <div class="col-md-6">
                    <input
                            id="message"
                            type="text"
                            class="form-control"
                            name="message"
                    />
                    <input type="file" name="file"/>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>

        <table class="table mt-4">
            <tr>
                <th scope="col">Message</th>
                <th scope="col">Posted Date</th>
                <th scope="col">Username</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td><a href="/users/{{ post['postedBy'] }}/posts/{{ post['_id'] }}">{{ post['message'] }}</a></td>
                    <td>{{ post['postedAt'] }}</td>
                    <td>{{ post['postedBy'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
