{% extends "index.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <br>
    <h1>Welcome to Forumsbook</h1><br>

    {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            Error: {{ error_msg }}
        </div>
    {% endif %}

    <div class="container">
        <form action="{{ url_for('createPost') }}" method="POST">
            <div class="row my-3">
                <div class="col-md-4">
                    <label for="subject">Subject:</label>
                </div>
                <div class="col-md-6">
                    <input
                            type="text"
                            class="form-control"
                            name="subject"
                    />
                </div>
            </div>
            <div class="row my-3">
                <div class="col-md-4">
                    <label for="message">Message:</label>
                </div>
                <div class="col-md-6">
                    <input
                            type="text"
                            class="form-control"
                            name="message"
                    />
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Post</button>
        </form>

        <table class="table mt-4">
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Posted Date</th>
                <th scope="col">Username</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td><a href="/users/{{ post['username'] }}/posts/{{ post['post_id'] }}">{{ post['subject'] }}</a></td>
                    <td>{{ post['postedAt'] }}</td>
                    <td>{{ post['username'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
