<!doctype html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Forumsbook</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

        <!-- Boostrap for css -->
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
        <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    {% endblock %}
    <style>
        footer {
            text-align: center;
            padding: 1px;
            background-color: white;
            margin-top: 850px;
            color: black;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-dark bg-dark">
    <a href='/' class="navbar-brand">Forumsbook</a>

    {% if username %}
        <form action="{{ url_for('changePassword') }}" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Change Password</button>
        </form>
        <form action="{{ url_for('logout') }}" class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
    {% endif %}
</nav>
{% block body %} {% endblock %}

<footer>
    <p>Done by: Minjin Chou & Chatchapat Dechathaweewat</p>
</footer>
</body>
</html>