{% extends "index.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    {% if error_msg %}
        <div class="alert alert-danger" role="alert">
            Error: {{ error_msg }}
        </div>
    {% endif %}

    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1>Register</h1><br>
        <form action="{{ url_for('register') }}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-4">
                    <label for="email">Email:</label>
                </div>
                <div class="col-8">
                    <input type="text"
                           id="email"
                           name="email"
                           required/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <label for="phone_number">Mobile phone number:</label>
                </div>
                <div class="col-8">
                    <input type="text"
                           id="mobile"
                           name="mobile" />
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <label for="username">Username:</label>
                </div>
                <div class="col-8">
                    <input type="text"
                           id="username"
                           name="username"
                           required/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <label for="password">Password:</label>
                </div>
                <div class="col-8">
                    <input type="password"
                           id="password"
                           name="password"
                           required/>
                </div>
            </div>

            <br/>

            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>

{% endblock %}